/bin/
/run/
./bin/**/*.*
./run/**/*.*

.classpath
.gradle/2.7/taskArtifacts/cache.properties.lock
.gradle/2.7/taskArtifacts/fileHashes.bin
.gradle/2.7/taskArtifacts/fileSnapshots.bin
.gradle/2.7/taskArtifacts/outputFileStates.bin
.gradle/2.7/taskArtifacts/taskArtifacts.bin
.gradle/gradle.log
.project
.settings/org.eclipse.jdt.core.prefs
DeepCraft_Client.launch
DeepCraft_Server.launch
build/libs/DeepCraft-0.0.1.jar
